
.home-page {
    padding: 60px 0px;
    background-color: rgba(248, 242, 242, 0.8);
}

.border-none {
    border: none;
}

.product-img {
    max-width: 200px;
    max-height: 280px;
}

.cartProduct{
    background-color: inherit;
}